<div class="card">
  <div class="display">
    <p>
      This app is just a demo version of some real movie platforms: Netflix,
      TMDB, SweetTV and so on. Movies are gotten from TMDB (using Api); What
      this app can do:
    </p>
    <ul>
      <li>
        If you want to add film to favorites, you need to press the button
        "add..." at the bottom of the card
      </li>
      <li>
        After pressing the "Add..." button, it changes to "Remove from
        favorites"
      </li>
      <li>
        You can check if the movie is already added to your list of favorites
        (go to Home page)
      </li>
      <li>
        You can remove movies from the favourites list by clicking "remove..."
      </li>
      <li>If you didn't find your movie, you can use search</li>
    </ul>
  </div>
</div>
