* {
  margin: 0;
  padding: 0;
}
main {
  flex-direction: column;
  max-width: 1280px;
  max-height: calc(100vh - 156px);
  margin: 0 auto;
  display: flex;
  align-items: center;
  overflow: auto;
}
.container {
  width: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
.block {
  background-color: salmon;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 25px 0;
}
.block--footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}
.text {
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 24px;
}

.input {
  border-radius: 10px;
  border-width: 1px;
  border-color: silver;
  padding: 5px;
  margin: 15px 0;
}
.button {
  background-color: mediumturquoise;
  color: white;
  border-radius: 10px;
  border: none;
  margin: 15px 5px;
  padding: 5px 10px;
}

.button--remove {
  background-color: #fc662a;
}

.button:hover {
  background-color: rgb(57, 168, 165);
}

.button--remove:hover {
  background-color: #c55022;
}

.card {
  width: fit-content;
  height: 25px;
  border: 2px solid rgb(250 128 114 / 72%);
  border-radius: 10px;
  background-color: white;
  color: black;
  padding: 2px 20px;
  box-shadow: 0px 0px 3px grey;

  margin: 5px auto;
}
